* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
h1 {
  text-align: center;
  margin: 20px 0;
  color: #333;
}
section {
  height: 500px;
  width: 100vw;
  background: linear-gradient(180deg, #f9f9f9 0%, #dfe6e9 100%);
  position: relative;
  overflow: hidden;
}

.ball {
  width: 100px;
  height: 100px;
  background: radial-gradient(circle at 30% 30%, #ff8a5c, #ff5733);
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: bounce 3s infinite;
  animation-timing-function: ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform-origin: center bottom;
  transition: transform 0.3s;

}


@keyframes bounce {
  0% {
    left: 0;
    bottom: 0;
    transform: scale(1);
  }
  25% {
    left: 25vw;
    bottom: 50vh;
    transform: scale(1.05);
  }
  50% {
    left: 50vw;
    bottom: 0;
    transform: scale(0.95);
  }
  75% {
    left: 75vw;
    bottom: 50vh;
    transform: scale(1.05);
  }
  100% {
    left: 100vw;
    bottom: 0;
    transform: scale(1);
  }
}